/**************/
/* KEYFRAMES */
/*************/

// 1.Open modal animation
@keyframes open-modal {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
    }
}

// 2.Close modal animation
@keyframes close-modal {
    from {
        opacity: 1;
        transform: translateY(-150px);
    }
    to {
        opacity: 0;
    }
}

// 3. Open menu animation
@keyframes open-menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// 3. Close menu animation
@keyframes close-menu {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}