@use '../abstracts/variables';
@use '../abstracts/mixins';

/************/
/* GENERAL */
/***********/

* {
    box-sizing: border-box;
}

body {
    background-color: variables.$white;
    display: flex;
    flex-direction: column;
}

main {
    padding: 15px 3%;

    @include mixins.small-screen {
        padding: 15px 5%;
    }
}

img {
	max-width: 100%;
	height: auto;
}

li {
    list-style-type: none;
}