@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
    background-color: variables.$btn-color;
    @include mixins.font-size(21px);
    color: variables.$white;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s linear;

    &:hover {
        background-color: #3876ac;
    }

    &--signup {
        padding: 12px 24px;
    }

    &--modal {
        padding: 12px 30px;
    }
}