@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
    background-color: variables.$primary-color;
    @include mixins.font-size(21px);
    color: variables.$white;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s linear;

    &:hover {
        background-color: variables.$secondary-color;
    }

    &--signup {
        padding: 12px 35px;

        @include mixins.wide-screen {
            @include mixins.font-size(32px);
        }
    }

    &--modal {
        padding: 12px 30px;
    }
}