@use '../abstracts/variables';
@use '../abstracts/mixins';

/******************/
/* FORM COMPONENT */
/*****************/

.form-comp {
    padding-top: 25px;

    &__input {
        padding: 8px;
        border: 2px solid darken(variables.$white, 20);
        outline: none;

        &--text {
            @include mixins.font-size(20px);
            width: 100%;
            margin: 0;
            border-radius: 8px;
            height: 48px;
        }

        &--checkbox {
            display: none;

            &:checked + .form-comp__label .form-comp__checkbox-icon--round::after,
            &:checked + .form-comp__label .form-comp__checkbox-icon--square::after {
                opacity: 1;
            }

            &:checked + .form-comp__label .form-comp__checkbox-icon--round {
                border-color: variables.$checkbox-color;
            }

            &:checked + .form-comp__label .form-comp__checkbox-icon--square {
                background-color: variables.$checkbox-color;
            }
        }

        &--error {
            border-width: 2px;
            border-color: variables.$primary-color;
        }
    }

    &__label {
        display: inline-block;
        @include mixins.font-size(16px);
        margin: 5px 0 6px 0;

        &--checkbox {
            position: relative;
            margin: 0 45px 8px 0;
            @include mixins.font-size(13px);
            font-family: variables.$font-secondary;
            font-weight: normal;
            text-indent: 29px;
        }

        &--terms {
            margin-bottom: 3px;
        }
    }

    abbr {
        text-decoration: none;
    }

    &__error,
    &__error-location,
    &__error-terms {
        font-family: variables.$font-secondary;
        color: variables.$primary-color;
        @include mixins.font-size(13px);
        margin: 5px 0 0 0;
        height: 18px;
    }
    &__error-terms {
        margin: 0;
    }

    &__checkbox-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid variables.$checkbox-color;
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0;

        &--round {
            border: 2px solid darken(variables.$white, 23);
            border-radius: 50%;

            &::after {
                content: "";
                width: 13px;
                height: 13px;
                background-color: variables.$checkbox-color;
                border-radius: 50%;
                text-indent: 29px;
                white-space: nowrap;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: 0.3s;
                opacity: 0;
            }
        }

        &--square {
            border-radius: 4px;
            border: 0;
            background-color: darken(variables.$white, 23);


            &::after {
                content: "";
                width: 7px;
                height: 4px;
                border-radius: 2px;
                background: transparent;
                border: 2px solid transparent;
                border-bottom-color: variables.$white;
                border-left-color: variables.$white;
                transform: rotate(-55deg);
                position: absolute;
                left: 21%;
                top: 19%;
                opacity: 0;
            }
        }
    }

    &__city-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;

        &--error {
            border: solid 2px variables.$primary-color;
        }
    }

    &__btn {
        display: block;
        margin: 20px auto 10px auto;
    }
}