@use '../abstracts/variables';
@use '../abstracts/mixins';

.modal {
    display: none;
    // display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: variables.$bg-modal;

    @include mixins.small-screen {
        top: 80px;
        background-color: transparent;
    }

    &__container {
        position: relative;
        width: 100%;
        max-width: 500px;
        background-color: variables.$bg-dark;
        border-radius: 8px;
        overflow: hidden;
        padding-top: 10px;
        margin: 5% auto;
        animation: open-modal 0.8s;
        color: variables.$white;
    }

    &__close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 32px;
        height: 32px;
        opacity: 1;
        cursor: pointer;
        transform: scale(0.7);

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 15px;
            height: 33px;
            width: 3px;
            background-color: variables.$white;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &__body {
        padding: 20px 8%;
    }
}