@use '../abstracts/variables';
@use '../abstracts/mixins';

.footer {
    padding-left: 3%;
    font-family: variables.$font-secondary;
    text-align: start;

    @include mixins.tablet {
        text-align: center;
        padding-left: 0;
    }

    &__copyrights {
        color: variables.$terciary-color;
        font-weight: 700;
        margin: 0 0 50px 0;

        @include mixins.tablet {
            margin: variables.$resp-mb;
        }
    }
}