@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;

    @include mixins.tablet {
        padding: 30px 5%;
    }

    &__logo {
        height: 40px;
    }

    nav {
        position: relative;
        height: auto;

        @include mixins.tablet {
            height: 51px;
        }
    }

    &__container  {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include mixins.tablet {
            background: variables.$white;
            display: none;
            width: 250px;
            position: absolute;
            right: 0;
            z-index: 4;
            flex-direction: column;
            align-items: center;
            padding: 15px 3%;
            border: 2px solid grey;
            border-radius: 15px;
            box-shadow: 3px 3px 12px darken(variables.$white, 30%);
        }
    }

    &__link {
        @include mixins.font-size(18px);
        padding: 12px 10px;
        margin: 0 3px;

        &:hover {
            background-color: #ff0000;
            color: #ffffff;
            border-radius: 8px;
        }

        @include mixins.tablet {
            margin: 0;
        }
    }

    &__icon {
        display: none;
        line-height: 0;

        @include mixins.tablet {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 5px;
            z-index: 5;
            @include mixins.font-size(30px);

            &:hover {
                color: variables.$primary-color;
            }
        }
    }
}