@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 3%;

    &__logo {
        height: 40px;

        @include mixins.mobile {
            height: 30px;
        }
    }

    &__nav {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include mixins.tablet {
            flex-direction: column;
            padding: 15px 3%;
            border: 2px solid grey;
            border-radius: 15px;
            box-shadow: 3px 3px 12px darken(variables.$white, 30%);
        }
    }

    &__link {
        @include mixins.font-size(18px);
        padding: 12px 10px;
        margin: 0 3px;

        &:hover {
            background-color: #ff0000;
            color: #ffffff;
            border-radius: 8px;
        }

        @include mixins.tablet {
            // display: none;
        }
    }

    &__icon {
        display: none;

        @include mixins.tablet {
            display: block;
            position: absolute;
            margin: 5px 5px 0 0;
            right: 0;
            top: 0;
            @include mixins.font-size(40px);

            &:hover {
                color: variables.$primary-color;
            }
        }

        @include mixins.mobile {
            @include mixins.font-size(30px);
        }
    }
}