@use './variables';

/**********/
/* FONTS */
/*********/

// 1.Transform function for font size in pixels into rem
@function calculate-rem($size) {
	$remSize: calc($size / 16px);
	@return #{$remSize}rem;
}

// 2.Contain font size in pixel and rem
@mixin font-size($size) {
	font-size: $size;
	font-size: calculate-rem($size);
}

/***************/
/* RESPONSIVE */
/**************/

// 1. Contain media queries for mobile responsive
@mixin mobile {
	@media screen and (max-width: map-get(variables.$breakpoints, mobile)) {
		@content;
	}
}

// 2. Contain media queries for tablet responsive
@mixin tablet {
	@media screen and (max-width: map-get(variables.$breakpoints, tablet)) {
		@content;
	}
}

// 3. Contain media queries for wide-screen responsive
@mixin wide-screen {
	@media screen and (min-width: map-get(variables.$breakpoints, wide-screen)) {
		@content;
	}
}