/**********/
/* FONTS */
/*********/
$font-default: "DM Sans", Arial, Helvetica, sans-serif;
$font-secondary: 'Roboto', sans-serif;


/***********/
/* COLORS */
/**********/
$primary-color: #ff0000;
$secondary-color: #3876ac;
$terciary-color: #fe142f;
$bg-dark: #232323;
$bg-modal: rgba(26, 39, 156, 0.4);
$checkbox-color: #279e7a;
$black: #000000;
$white: #ffffff;

/**********/
/* SIZES */
/*********/
// Margin bottom generic for elements in responsive tablet/mobile
$resp-mb: 0 0 40px 0;

/***************/
/* RESPONSIVE */
/**************/
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    wide-screen: 1920px
);